.List
  一覧
  .List__content
    - @items.each do |item|
      = item.name
      = item.menu_id
      = link_to '詳細', item_path(item.id), method: :get
      //("主食":1, "主菜":2, "副菜":3, "豆・乳製品":4, "果物":5)