// Place all the styles related to the items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.Content{
  height: 100vh;
  position: relative;
  .Menu{
    text-align: center;
    margin: 0px auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    list-style: none;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    &__create{
    }
    &__registration{
      .link{
        text-decoration: none;
        color: black;
      }
    }
    &__list{
    }
  }
}
.cook-image{
  height: 100%;
  width: 100%;
}